.main-form {
  position: absolute;
  left: 35%;
  top: 20%;
  background-color: rgb(180, 134, 134);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3rem;
  box-shadow: 3px 1px 15px 5px #000000;
}
.main-form__title {
  font-size: 2rem;
  margin: 60px;
}
.main-form__data {
  width: 30%;
  display: flex;
  font-size: 1rem;
  justify-content: start;
  padding: 60px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.main-form__data_label {
  position: absolute;
  left: 36%;
  bottom: 53%;
  display: inline-block;
  font-weight: bolder;
  width: 100%;
  font-size: 1.5rem;
}
.main-form__data input {
  margin: 1rem;
}
.main-form__data_button {
  background-color: rgb(215, 224, 207);
  border-radius: 3px;
  padding: 0.1rem;
}
.main-form button {
  width: 30%;
  margin: 2rem;
}
