.main-addmember {
  position: absolute;
  z-index: 100;
  background-color: rgb(90, 90, 79);
  display: flex;
  flex-direction: column;
  padding: 40px;
  left: 61%;
  top: 10vh;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
.main-addmember h3 {
  text-align: center;
  padding: 10px;
}

.main-addmember form {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.main-addmember form label {
  margin: 5px;
}
.main-addmember form input {
  font-size: 1.3rem;
}
.main-addmember_form_button {
  margin: 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.main-addmember button {
  position: absolute;
  top: 2%;
  left: 80%;
  background-color: red;
  padding: 3px;
  font-weight: bold;
  border-radius: 10px;
}
