.main-chatbox {
  position: absolute;
  top: 20%;
  left: 40vw;
  background-color: aqua;
}

.main-chatbox__message {
  position: absolute;
  justify-content: space-around;
  left: 20%;
  height: 94vh;
  width: 80vw;
}
.main-chatbox__message_position_send {
  font-weight: bolder;

  background-color: rgb(112, 109, 109);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.main-chatbox__message_position_send-text {
  width: 50vw;
  font-size: 1rem;
  font-weight: bold;
}
.main-chatbox__message_position_send-button {
  background-color: aqua;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.main-chatbox__message_position_send-button-sendfile-admin{
 position:absolute;
 right: 13vw;
 bottom: 1vh;
  color: white;
  padding: 5px;
  background-color: black;
  border-radius: 10px;
}
.main-chatbox__message_position_send-button-sendfile-noadmin{
 position:absolute;
 right: 13vw;
 bottom: 5vh;
  color: white;
  padding: 5px;
  background-color: black;
  border-radius: 10px;
}