.main-grouplist {
  position: absolute;
  background-color: rgb(221, 207, 216);
  height: 94vh;
  width: 20vw;
}

.main-grouplist h1 {
  text-align: center;
}

.main-grouplist button {
  position: relative;
  left: 31%;
  top: 2%;
  padding: 10px;
  font-weight: 900;
  background-color: rgb(27, 27, 27);
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}

.main-grouplist__list {
  display: flex;
  position: absolute;
  left: 40%;
  top: 20%;
  flex-direction: column;
  align-items: center;
}
.main-grouplist__list li {
  text-align: center;
  position: relative;
  list-style: none;
  right: 40%;
  margin: 10px;
  background-color: rgb(20, 19, 20);
  color: aliceblue;
  width: 17vw;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
}
