.main-filesend{
    position: absolute;
    z-index: 200;
    background-color: rgb(150, 68, 68);
    right: 5rem;
    top: 37vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}
.main-filesend form button{
    background-color: blue;
    color: white;
    padding: 2px;
    border-radius: 10px;
}