.overview_container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  font-family: inherit;
  font-size: 1.2rem;
}
.overview_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overview_content_actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.overview_content_actions > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview_content_actions > button:hover {
  cursor: pointer;
}

.overview_content_actions > button > img {
  width: 3rem;
  height: 3rem;
}

.overview_content_display {
  display: flex;
}
