.admintrue {
  list-style: none;
  background-color: rgb(54, 238, 51);
  margin: 1px;
  font-weight: 500;
  text-align: left;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
}

.adminfalse {
  list-style: none;
  background-color: rgb(221, 224, 234);
  margin: 1px;
  font-weight: 500;
  text-align: left;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
}
